<div id="<%= dom_id brand_user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= brand_user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= brand_user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= brand_user.company %>
  </p>

</div>
