<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Brand users" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Brand users</h1>
    <%= link_to "New brand user", new_brand_user_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="brand_users" class="min-w-full">
    <% @brand_users.each do |brand_user| %>
      <%= render brand_user %>
      <p>
        <%= link_to "Show this brand user", brand_user, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
